<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.dome.mapper.StudentCourseMapper">

    <resultMap id="BaseResultMap" type="com.anishan.dome.domain.entity.StudentCourse">
            <id property="teachId" column="teach_id" jdbcType="BIGINT"/>
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
    </resultMap>

    <delete id="deleteBatchInSchoolYear">
        call delete_student_course(#{userId}, #{teachId}, #{year})
    </delete>
    <update id="removeScore">
        <foreach item="item" collection="list">
            update student_course set score = null
            where teach_id = #{item.teachId} and
                  user_id = #{item.userId};
        </foreach>
    </update>




    <select id="selectAvailable" resultType="com.anishan.dome.domain.vo.EnrollCourse">
        select
            tc.teach_id as teach_id,
            c.course_id as course_id,
            c.course_name as course_name,
            c.credit as credit,
            c.duration as duration,
            c.school_year as school_year,
            su.username as teacher_name,
            t.institution as institution
        from teacher_course tc
            left join course c on c.course_id = tc.course_id
            left join teacher t on t.user_id = tc.user_id
            left join sys_user su on su.user_id = t.user_id

        ${ew.customSqlSegment}


    </select>


    <select id="countAvailable" resultType="long">
        select
           count(*)
        from teacher_course tc
                 left join course c on c.course_id = tc.course_id
                 left join teacher t on t.user_id = tc.user_id
                 left join sys_user su on su.user_id = t.user_id

            ${ew.customSqlSegment}
    </select>

    <select id="selectByUser" resultType="com.anishan.dome.domain.vo.EnrollCourse">
        select
            c.course_id as course_id,
            c.course_name as course_name,
            tc.teach_id as teach_id,
            c.credit as credit,
            c.duration as duration,
            c.school_year as school_year,
            su.username as teacher_name,
            t.institution as institution
        from teacher_course tc
            left join course c on c.course_id = tc.course_id
            left join teacher t on t.user_id = tc.user_id
            left join sys_user su on su.user_id = t.user_id
            left join student_course sc on sc.teach_id = tc.teach_id
        where
            c.school_year = #{schoolYear} and
            sc.user_id = #{userId}
    </select>
    <select id="selectScoreVos" resultType="com.anishan.dome.domain.vo.ScoreVo">
        select
            tc.teach_id as teach_id,
            sc.user_id as studentId,
            c.course_id as course_id,
            s.class_id as class_id,
            credit,
            su2.username as teacher_name,
            su.username as student_name,
            c.course_name as course_name,
            c.school_year as school_year,
            sc.score as score
        from student_course sc
        left join teacher_course tc on tc.teach_id = sc.teach_id
        left join student s on s.user_id = sc.user_id
        left join sys_user su on su.user_id = s.user_id
        left join course c on tc.course_id = c.course_id
        left join sys_user su2 on su2.user_id = tc.user_id

        ${ew.customSqlSegment}
    </select>
    <select id="countScores" resultType="java.lang.Long">
        select
            count(*)
        from student_course sc
        left join teacher_course tc on tc.teach_id = sc.teach_id
        left join student s on s.user_id = sc.user_id
        left join sys_user su on su.user_id = s.user_id
        left join course c on tc.course_id = c.course_id
        left join sys_user su2 on su2.user_id = tc.user_id
            ${ew.customSqlSegment}
    </select>
    <select id="statistic" resultType="com.anishan.dome.domain.vo.StatisticResult">
        select
           *
        from statistic_view
            ${ew.customSqlSegment}
    </select>
    <select id="count" resultType="java.lang.Long">
        select
            count(*)
        from statistic_view
                 ${ew.customSqlSegment}

    </select>
</mapper>
