<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.dome.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.anishan.dome.domain.entity.Teacher">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectTeacherVo" resultType="com.anishan.dome.domain.vo.TeacherVo">
        select
            t.user_id as user_id,
            t.institution as institution,
            t.title as title,
            work_number,
            u.username as username,
            birthday,
            gender,
            t.create_time as create_time,
            t.update_time as update_time
        from teacher t
                 left join sys_user u on t.user_id = u.user_id

            ${ew.customSqlSegment}
    </select>
    <select id="countTotal" resultType="java.lang.Long">
        select
           count(*)
        from teacher t
                 left join sys_user u on t.user_id = u.user_id

            ${ew.customSqlSegment}
    </select>

</mapper>
